.atom-badge {
  border-radius: var(--spacing-base);
  color: var(--color-neutral-white);
  font: var(--text-badge);
  letter-spacing: var(--text-badge-letter);
  padding: var(--spacing-xxsmall) var(--spacing-xsmall);

  &[color='warning'] {
    background-color: var(--color-contextual-warning-regular);
  }

  &[color='danger'] {
    background-color: var(--color-contextual-error-regular);
  }

  &[color='neutral'] {
    background-color: var(--color-neutral-light-3);
    color: var(--color-neutral-light-2);
  }

  &[color='dark'] {
    background-color: var(--color-neutral-regular);
  }
}
