:host {
  ::part(tooltip) {
    background: var(--color-neutral-light-5) !important;
    border-radius: var(--border-radius) !important;
    box-shadow: var(--elevation-4) !important;
    color: var(--color-neutral-regular) !important;
    filter: drop-shadow(var(--elevation-3)) !important;
    max-width: 100% !important;
    padding: var(--spacing-small) !important;
    padding-bottom: var(--spacing-medium) !important;
    padding-top: var(--spacing-xlarge) !important;
    transition: all 0.15s ease-in-out !important;
    transition-property: opacity, transform, visibility !important;
    width: 252px !important;
  }

  .title {
    font: var(--text-body-small);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--text-body-small-letter);
    margin: 0;
    margin-bottom: var(--spacing-xsmall);
  }

  .text {
    font: var(--text-body-small);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--text-body-small-letter);
    margin: 0;
  }

  .action {
    color: var(--color-brand-secondary-regular);
    cursor: pointer;
    font: var(--button-medium);
    letter-spacing: var(--button-medium-letter);
    margin: 0;
    margin-top: var(--spacing-xsmall);
  }
}
