:root {
  /* Set the background of the entire app */
  --ion-background-color: white;

  /* Set the font family of the entire app */
  --ion-font-family: var(--font-family);

  --ion-color-primary: var(--color-brand-primary-regular);
  --ion-color-primary-rgb: var(--color-brand-primary-regular-rgb);
  --ion-color-primary-contrast: var(--color-neutral-white);
  --ion-color-primary-contrast-rgb: var(--color-neutral-white-rgb);
  --ion-color-primary-shade: var(--color-brand-primary-dark-1);
  --ion-color-primary-tint: var(--color-brand-primary-light-1);

  --ion-color-secondary: var(--color-brand-secondary-regular);
  --ion-color-secondary-rgb: var(--color-brand-secondary-regular-rgb);
  --ion-color-secondary-contrast: var(--color-neutral-white);
  --ion-color-secondary-contrast-rgb: var(--color-neutral-white-rgb);
  --ion-color-secondary-shade: var(--color-brand-secondary-dark-1);
  --ion-color-secondary-tint: var(--color-brand-secondary-light-1);

  --ion-color-success: var(--color-contextual-success-regular);
  --ion-color-success-rgb: var(--color-contextual-success-regular-rgb);
  --ion-color-success-contrast: var(--color-neutral-white);
  --ion-color-success-contrast-rgb: var(--color-neutral-white-rgb);
  --ion-color-success-shade: var(--color-contextual-success-dark-1);
  --ion-color-success-tint: var(--color-contextual-success-light-1);

  --ion-color-warning: var(--color-contextual-warning-regular);
  --ion-color-warning-rgb: var(--color-contextual-warning-regular-rgb);
  --ion-color-warning-contrast: var(--color-neutral-black);
  --ion-color-warning-contrast-rgb: var(--color-neutral-black-rgb);
  --ion-color-warning-shade: var(--color-contextual-warning-dark-1);
  --ion-color-warning-tint: var(--color-contextual-warning-light-1);

  --ion-color-danger: var(--color-contextual-error-light-1);
  --ion-color-danger-rgb: var(--color-contextual-error-light-1-rgb);
  --ion-color-danger-contrast: var(--color-neutral-white);
  --ion-color-danger-contrast-rgb: var(--color-neutral-white-rgb);
  --ion-color-danger-shade: var(--color-contextual-danger-dark-1);
  --ion-color-danger-tint: var(--color-contextual-danger-light-1);

  --ion-color-medium: var(--color-neutral-light-2);
  --ion-color-medium-rgb: var(--color-neutral-light-2-rgb);
  --ion-color-medium-contrast: var(--color-neutral-white);
  --ion-color-medium-contrast-rgb: var(--color-neutral-white-rgb);
  --ion-color-medium-shade: var(--color-neutral-light-1);
  --ion-color-medium-tint: var(--color-neutral-light-3);

  --ion-color-base: var(--color-neutral-light-1);
  --ion-color-base-rgb: var(--color-neutral-light-1-rgb);
  --ion-color-base-contrast: var(--color-neutral-black);
  --ion-color-base-contrast-rgb: var(--color-neutral-black-rgb);
  --ion-color-base-shade: var(--color-neutral-light-2);
  --ion-color-base-tint: var(--color-neutral-white);

  --ion-color-light: var(--color-neutral-light-5);
  --ion-color-light-rgb: var(--color-neutral-light-5-rgb);
  --ion-color-light-contrast: var(--color-neutral-black);
  --ion-color-light-contrast-rgb: var(--color-neutral-black-rgb);
  --ion-color-light-shade: var(--color-neutral-light-2);
  --ion-color-light-tint: var(--color-neutral-white);

  --ion-text-color: var(--color-neutral-regular);
  --ion-text-color-rgb: var(--color-neutral-regular-rgb);
  --ion-text-color-contrast: var(--color-neutral-white);
  --ion-text-color-contrast-rgb: var(--color-neutral-white-rgb);

  --ion-grid-padding: 0;
  --ion-grid-column-padding: var(--spacing-base);
  --ion-grid-column-padding-sm: var(--spacing-xsmall);
  --ion-grid-columns: var(--grid-columns);
}

/* Set default colors of ion-checkbox when is inside ion-select because Ionic don't catch the color of ion-select
Issue: https://github.com/ionic-team/ionic-framework/issues/27500
*/

.select-popover {
  &.atom-select__popover {
    .select-interface-option {
      --color-hover: var(--color-brand-secondary-regular);
      --background-hover: var(--color-brand-secondary-light-2);
      --background-hover-opacity: 0.6;
    }

    .item-radio-checked {
      --background: rgba(var(--color-brand-secondary-light-2-rgb));
      --background-focused: var(--color-brand-secondary-regular);
      --background-hover: var(--color-brand-secondary-regular);
      --background-hover-opacity: 0.1;
      --color: var(--color-brand-secondary-regular);
    }

    .item-checkbox-checked {
      --color: var(--color-brand-secondary-regular);

      &::part(native) {
        --background: rgba(var(--color-brand-secondary-light-2-rgb));
        --background-hover: var(--color-brand-secondary-light-2);

        &:after {
          opacity: 0.1;
        }
      }
    }

    ion-checkbox {
      --checkbox-background-checked: var(--color-brand-secondary-regular);
      --border-color-checked: var(--color-brand-secondary-regular);
    }
  }
}
