:root {
  /* Set the background of the entire app */
  --ion-background-color: white;

  /* Set the font family of the entire app */
  --ion-font-family: var(--font-family);

  --ion-color-primary: var(--color-brand-primary-regular);
  --ion-color-primary-rgb: rgb(#ed6700);
  --ion-color-primary-contrast: var(--color-neutral-white);
  --ion-color-primary-contrast-rgb: rgb(#fff);
  --ion-color-primary-shade: var(--color-brand-primary-dark-1);
  --ion-color-primary-tint: var(--color-brand-primary-light-1);

  --ion-color-secondary: var(--color-brand-secondary-regular);
  --ion-color-secondary-rgb: rgb(#1976d2);
  --ion-color-secondary-contrast: var(--color-neutral-white);
  --ion-color-secondary-contrast-rgb: rgb(#fff);
  --ion-color-secondary-shade: var(--color-brand-secondary-dark-1);
  --ion-color-secondary-tint: var(--color-brand-secondary-light-1);

  --ion-color-success: var(--color-contextual-success-regular);
  --ion-color-success-rgb: rgb(#168806);
  --ion-color-success-contrast: var(--color-neutral-white);
  --ion-color-success-contrast-rgb: rgb(#fff);
  --ion-color-success-shade: var(--color-contextual-success-dark-1);
  --ion-color-success-tint: var(--color-contextual-success-light-1);

  --ion-color-warning: var(--color-contextual-warning-regular);
  --ion-color-warning-rgb: rgb(#e0ac08);
  --ion-color-warning-contrast: var(
    --color-neutral-black; --ion-color-warning-contrast-rgb: rgb(#000)
  );
  --ion-color-warning-shade: var(--color-contextual-warning-dark-1);
  --ion-color-warning-tint: var(--color-contextual-warning-light-1);

  --ion-color-danger: var(--color-contextual-danger-regular);
  --ion-color-danger-rgb: rgb(#e00000);
  --ion-color-danger-contrast: var(--color-neutral-white);
  --ion-color-danger-contrast-rgb: rgb(#fff);
  --ion-color-danger-shade: var(--color-contextual-danger-dark-1);
  --ion-color-danger-tint: var(--color-contextual-danger-light-1);

  --ion-color-medium: var(--color-neutral-light-2);
  --ion-color-medium-rgb: rgb(#464f59);
  --ion-color-medium-contrast: var(--color-neutral-white);
  --ion-color-medium-contrast-rgb: rgb(#fff);
  --ion-color-medium-shade: var(--color-neutral-light-1);
  --ion-color-medium-tint: var(--color-neutral-light-3);

  --ion-color-light: var(--color-neutral-light-5);
  --ion-color-light-rgb: rgb(#f4f5f8);
  --ion-color-light-contrast: var(--color-neutral-black);
  --ion-color-light-contrast-rgb: rgb(#000);
  --ion-color-light-shade: var(--color-neutral-light-2);
  --ion-color-light-tint: var(--color-neutral-white);

  --ion-grid-padding: 0;
  --ion-grid-column-padding: var(--spacing-base);
  --ion-grid-column-padding-sm: var(--spacing-xsmall);
}

/* Set default colors of ion-checkbox when is inside ion-select because Ionic don't catch the color of ion-select
Issue: https://github.com/ionic-team/ionic-framework/issues/27500
*/

.select-popover {
  .item-checkbox-checked {
    --color: var(--ion-color-medium-shade);
  }

  ion-checkbox {
    --checkbox-background-checked: var(--ion-color-medium-shade);
    --border-color-checked: var(--ion-color-medium-shade);
  }

  .item-radio-checked {
    --background: rgba(var(--ion-color-medium-rgb));
    --background-focused: var(--ion-color-medium);
    --background-hover: var(--ion-color-medium);
  }

  &.atom-select-color-primary {
    .item-checkbox-checked {
      --color: var(--ion-color-primary);
    }

    ion-checkbox {
      --checkbox-background-checked: var(--ion-color-primary);
      --border-color-checked: var(--ion-color-primary);
    }

    .item-radio-checked {
      --background: rgba(var(--ion-color-primary-rgb));
      --background-focused: var(--ion-color-primary);
      --background-hover: var(--ion-color-primary);
    }
  }

  &.atom-select-color-secondary {
    .item-checkbox-checked {
      --color: var(--ion-color-secondary);
    }

    ion-checkbox {
      --checkbox-background-checked: var(--ion-color-secondary);
      --border-color-checked: var(--ion-color-secondary);
    }

    .item-radio-checked {
      --background: rgba(var(--ion-color-secondary-rgb));
      --background-focused: var(--ion-color-secondary);
      --background-hover: var(--ion-color-secondary);
    }
  }
}
