# See http://help.github.com/ignore-files/ for more about ignoring files.

.npmrc

# compiled output
packages/react/src/components
packages/vue/src/components
packages/**/coverage
packages/**/components.d.ts
packages/tokens/index.ts
packages/core/react
packages/core/vue
packages/core/core.css
storybook-static
dist
tmp
/out-tsc
.stencil

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
