# See http://help.github.com/ignore-files/ for more about ignoring files.

.npmrc

# compiled output
packages/react/src/components
packages/vue/src/components
packages/**/coverage
packages/tokens/index.ts
packages/icons/index.ts
packages/core/react
packages/core/vue
packages/core/core.css
storybook-static
dist
tmp
/out-tsc
.stencil

# dependencies
node_modules

# caches
.nx
.eslintcache
/.sass-cache

# IDEs and editors
/.idea
.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# AI tools
.cursor
/.playwright-mcp

# tests
/coverage
/connect.lock
testem.log

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log

# misc
/typings
/libpeerconnection.log

# System Files
.DS_Store
Thumbs.db
