@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

.markdown-body {
  background: var(--white);
  margin: 0 auto;
  max-width: 980px;
  min-width: 200px;
  padding: var(--space) var(--space-lg);
}

.markdown-body * {
  box-sizing: border-box;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body h1 {
  font-size: 32px;
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom: 1px solid var(--gray-2);
  font-weight: 600;
  padding-bottom: 0.3em;
}

.markdown-body h2 {
  font-size: 24px;
}

.markdown-body h3 {
  font-size: 20px;
}

.markdown-body h3,
.markdown-body h4 {
  font-weight: 600;
}

.markdown-body h4 {
  font-size: 16px;
}

.markdown-body h5 {
  font-size: 14px;
}

.markdown-body h5,
.markdown-body h6 {
  font-weight: 600;
}

.markdown-body h6 {
  font-size: 12px;
}

.markdown-body p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: var(--space-sm);
  margin-top: var(--space);
}

.markdown-body h1 {
  font-size: 2em;
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom: 1px solid var(--gray-2);
  padding-bottom: 0.3em;
}

.markdown-body h2 {
  font-size: 1.5em;
}

.markdown-body h3 {
  font-size: 1.25em;
}

.markdown-body h4 {
  font-size: 1em;
}

.markdown-body h5 {
  font-size: 0.875em;
}

.markdown-body h6 {
  color: #6a737d;
  font-size: 0.85em;
}

.markdown-body a {
  color: var(--secondary-color);
  text-decoration: none;
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
}

.markdown-body pre code {
  background-color: initial;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
}

.markdown-body hr {
  background-color: var(--gray-1);
  border: 0;
  height: 0.25em;
  margin: var(--space) 0;
  padding: 0;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.logo {
  margin: auto !important;
  max-width: 655px;
}

.badges {
  text-align: center;
}

.badges img {
  display: inline-block;
  margin-right: var(--space-xs) !important;
}

.row-items > * {
  margin-right: var(--space-sm) !important;
  margin-bottom: var(--space-sm) !important;
}

.sm-offset-left {
  margin-left: var(--space-sm) !important;
}

.md-offset-left {
  margin-left: var(--space-md) !important;
}

.lg-offset-left {
  margin-left: var(--space-lg) !important;
}

.sm-offset-top {
  margin-top: var(--space-sm) !important;
}

.md-offset-top {
  margin-top: var(--space-md) !important;
}

.lg-offset-top {
  margin-top: var(--space-lg) !important;
}
