.atom-grid {
  --ion-grid-column-padding: 0;
  --ion-grid-column-padding-lg: 0;
  --ion-grid-column-padding-md: 0;
  --ion-grid-column-padding-sm: 0;
  --ion-grid-column-padding-xl: 0;
  --ion-grid-column-padding-xs: 0;
}
