.slide {
  align-items: center;
  background-color: var(--color-brand-primary-regular);
  color: var(--color-neutral-white);
  display: flex;
  height: 300px;
  justify-content: center;
  min-width: 300px;
}

.slide:nth-child(1) {
  background-color: var(--color-brand-primary-regular);
}

.slide:nth-child(2) {
  background-color: var(--color-brand-secondary-regular);
}

.slide:nth-child(3) {
  background-color: var(--color-contextual-success-regular);
}

.slide:nth-child(4) {
  background-color: tomato;
}

.slide:nth-child(5) {
  background-color: var(--color-contextual-warning-regular);
}
