@import '~@atomium/scss-utils/index';

$placements: 'top', 'bottom', 'left', 'right';

.atom-tooltip {
  --arrow-width: 10px;
  --arrow-height: 8px;
  --arrow-square-range: -3px;

  background: var(--color-neutral-light-1);
  border-radius: var(--border-radius);
  color: var(--color-neutral-white);
  font: var(--text-body-small);
  letter-spacing: var(--text-body-small-letter);
  opacity: 0;
  padding: var(--spacing-xsmall);
  transition: opacity 0.15s ease-in-out;
  visibility: hidden;
  will-change: opacity;

  &__arrow {
    background: inherit;
    height: var(--arrow-height);
    position: absolute;
    visibility: hidden;
    width: var(--arrow-width);

    &::before {
      background: inherit;
      content: '';
      height: var(--arrow-height);
      position: absolute;
      transform: rotate(45deg);
      width: var(--arrow-width);
    }
  }

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &.open > &__arrow {
    &::before {
      visibility: visible;
    }
  }

  @each $placement in $placements {
    &[data-popper-placement^='#{$placement}'] > &__arrow {
      @if $placement == top {
        bottom: var(--arrow-square-range);
      } @else if $placement == bottom {
        top: var(--arrow-square-range);
      } @else if $placement == left {
        right: var(--arrow-square-range);
      } @else {
        left: var(--arrow-square-range);
      }
    }
  }

  &__content {
    align-items: center;
    display: flex;
  }

  &__action--close {
    display: none;

    @include below(small) {
      & {
        align-self: flex-start;
        background: none;
        border: none;
        color: currentColor;
        cursor: pointer;
        display: block;
        font-size: var(--spacing-large);
        height: 1em;
        padding: 0;
        padding-left: var(--spacing-base);
      }
    }
  }
}
