@import '~@atomium/scss-utils/index';

:host {
  --atom-icon-color: var(--color-neutral-regular);
  --atom-icon-grid: var(--spacing-xxxxlarge);
  --atom-button-icon-size: 30px;
  --atom-input-min-height: 57px;
  display: block;
  position: relative;
}

.atom-input {
  --ion-color-step-550: --color-neutral-light-1;
  min-height: var(--atom-input-min-height);

  &[color='primary'] {
    --highlight-color-focused: var(--color-brand-primary-regular);
    --atom-icon-color: var(--color-brand-primary-regular);
  }

  &[color='secondary'] {
    --highlight-color-focused: var(--color-brand-secondary-regular);
  }

  &[color='danger'] {
    --highlight-color-focused: var(--color-contextual-error-regular);
  }

  &.input-fill-solid {
    &.has-focus {
      --background: var(--color-neutral-light-5);
    }
  }

  &.input-disabled {
    &:hover,
    & {
      --background: var(--color-neutral-light-2);
      --color: var(--color-neutral-black);
      --placeholder-color: var(--color-neutral-black);
      opacity: 0.55;
    }
  }

  &.input-fill-outline.input-shape-round.sc-ion-input-md-h {
    --border-radius: var(--border-radius-medium);

    &.has-icon {
      --padding-start: var(--atom-icon-grid);
    }
  }

  &.has-icon {
    --padding-start: var(--atom-icon-grid);
    z-index: var(--zindex-10);
  }

  &.has-readonly {
    --highlight-color-focused: var(--color-neutral-regular);

    label,
    input {
      cursor: not-allowed;
    }

    .input-highlight.sc-ion-input-md {
      height: 1px;
    }
  }

  input::-webkit-calendar-picker-indicator,
  input::-webkit-clear-button,
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button,
  .input-clear-icon {
    color: var(--atom-icon-color);
    cursor: pointer;
    position: absolute;
    z-index: var(--zindex-100);
  }

  input::-webkit-calendar-picker-indicator,
  input::-webkit-clear-button,
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    $webkit-fine-alignment: 5px;
    right: $webkit-fine-alignment;
    top: 0;
  }

  .input-clear-icon {
    height: 100%;
    padding: 0;
    right: var(--spacing-base);
    top: 0;
  }
}

.atom-password-icon,
.atom-icon {
  color: var(--atom-icon-color);
  cursor: pointer;
  font-size: var(--spacing-base);
  position: absolute;
  top: calc((var(--atom-input-min-height) / 2) + 2px);
  z-index: var(--zindex-100);

  .has-focus + & {
    &.atom-color--primary {
      --atom-icon-color: var(--color-brand-primary-regular);
    }

    &.atom-color--secondary {
      --atom-icon-color: var(--color-brand-secondary-regular);
    }

    &.atom-color--danger {
      --atom-icon-color: var(--color-contextual-error-regular);
    }
  }

  .input-disabled + & {
    opacity: 0.55;
  }
}

.atom-icon {
  left: calc(var(--atom-icon-grid) / 2);
  transform: translate(-50%, -50%);
}

.atom-password-icon {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: var(--atom-button-icon-size);
  outline: none;
  right: var(--spacing-base);
  transform: translateY(-50%);
  width: var(--atom-button-icon-size);
}
