@use 'sass:map';

$screen-xs: 576px; // xExtra small screen / phone
$screen-sm: 768px; // Extra small screen / phone
$screen-md: 992px; // Small screen / tablet
$screen-lg: 1280px; // Medium screen / desktop
$screen-xlg: 1440px; // Extra Large screen / wide desktop
$screen-fhd: 1920px; // Full HD resolution
$screen-2k: 2048px; // 2K resolution
$screen-4k: 3840px; // 4K resolution

$screens-alias: (
  'xsmall': 'xs',
  'small': 'sm',
  'medium': 'md',
  'large': 'lg',
  'xlarge': 'xlg',
  'xxlarge': 'fhd',
  'xxxlarge': 'xxxlarge',
  'desktop2k': '2k',
  'desktop4k': '4k',
);

$custom-rupture: (
  anti-overlap: -1px,
  scale: 0 $screen-xs $screen-sm $screen-md $screen-lg $screen-xlg $screen-fhd
    $screen-2k $screen-4k,
  scale-names: 'xsmall' 'small' 'medium' 'large' 'xlarge' 'xxlarge' 'xxxlarge'
    'desktop2k' 'desktop4k',
);

@use '../../node_modules/@juntossomosmais/rupture-scss/rupture.scss' as rupture
  with (
  $rupture: $custom-rupture
);

@forward '../../node_modules/@juntossomosmais/rupture-scss/rupture.scss';
