@mixin variables {
  /* Elevations
  * ------------------------- */
  --elevation-1: 0 1px 1px rgba(0, 0, 0, 0.14);
  --elevation-2: 0 1px 5px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.14);
  --elevation-3:
    0 1px 10px rgba(0, 0, 0, 0.12), 0 4px 5px rgba(0, 0, 0, 0.14),
    0 2px 4px rgba(0, 0, 0, 0.2);
  --elevation-4:
    0 1px 18px rgba(0, 0, 0, 0.12), 0 6px 10px rgba(0, 0, 0, 0.14),
    0 3px 5px rgba(0, 0, 0, 0.2);
  --elevation-5:
    0 5px 22px rgba(0, 0, 0, 0.12), 0 12px 17px rgba(0, 0, 0, 0.14),
    0 7px 8px rgba(0, 0, 0, 0.2);
  --elevation-6:
    0 6px 30px rgba(0, 0, 0, 0.12), 0 16px 24px rgba(0, 0, 0, 0.14),
    0 8px 10px rgba(0, 0, 0, 0.2);
  --elevation-7:
    0 8px 38px rgba(0, 0, 0, 0.12), 0 20px 31px rgba(0, 0, 0, 0.14),
    0 10px 13px rgba(0, 0, 0, 0.2);
  --elevation-8:
    0 9px 46px rgba(0, 0, 0, 0.12), 0 24px 38px rgba(0, 0, 0, 0.14),
    0 11px 15px rgba(0, 0, 0, 0.2);
}
