@mixin variables {
  /* Grid
  * ------------------------- */
  --grid-gap: var(--spacing-base);
  --grid-columns: 16;
}

@mixin responsive-variables {
  /* Grid
  * ------------------------- */
  --grid-gap: var(--spacing-xsmall);
}
