@mixin variables {
  /* Misc
  * ------------------------- */
  --border-radius: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 12px;
  --border-radius-full: 50%;
  --zindex-1: 1;
  --zindex-5: 5;
  --zindex-10: 10;
  --zindex-100: 100;
  --zindex-1000: 1000;
  --zindex-overlay: 10000;
  --transition-duration: 0.25s;
}
