@mixin variables {
  /* Fonts
  * ------------------------- */
  --font-family: 'Roboto', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --text-color: var(--color-neutral-regular);

  /* Typography
  * ------------------------- */
  --title-giant: var(--font-weight-bold) 52px/68px var(--font-family);
  --title-giant-letter: 0.0025em;
  --title-display: var(--font-weight-bold) 46px/60px var(--font-family);
  --title-display-letter: 0.0025em;
  --title-headline-xxlarge: var(--font-weight-bold) 42px/56px var(--font-family);
  --title-headline-xxlarge-letter: 0.0025em;
  --title-headline-xlarge: var(--font-weight-bold) 36px/48px var(--font-family);
  --title-headline-xlarge-letter: 0.0025em;
  --title-headline-large: var(--font-weight-bold) 32px/40px var(--font-family);
  --title-headline-large-letter: 0.0025em;
  --title-headline-medium: var(--font-weight-bold) 28px/36px var(--font-family);
  --title-headline-medium-letter: 0.0015em;
  --title-headline-small: var(--font-weight-bold) 26px/36px var(--font-family);
  --title-headline-small-letter: 0.0015em;
  --title-headline-xsmall: var(--font-weight-bold) 22px/28px var(--font-family);
  --title-headline-xsmall-letter: 0.0015em;
  --text-subtitle-large: var(--font-weight-bold) 20px/28px var(--font-family);
  --text-subtitle-large-letter: 0.0015em;
  --text-subtitle-medium: var(--font-weight-bold) 18px/24px var(--font-family);
  --text-subtitle-medium-letter: 0.0001em;
  --text-body-large: var(--font-weight-regular) 18px/28px var(--font-family);
  --text-body-large-letter: 0.005em;
  --text-body-medium: var(--font-weight-regular) 16px/24px var(--font-family);
  --text-body-medium-letter: 0.005em;
  --text-body-small: var(--font-weight-regular) 14px/24px var(--font-family);
  --text-body-small-letter: 0.0025em;
  --text-link-large: var(--font-weight-bold) 18px/28px var(--font-family);
  --text-link-large-letter: 0.005em;
  --text-link-medium: var(--font-weight-bold) 16px/24px var(--font-family);
  --text-link-medium-letter: 0.005em;
  --text-link-small: var(--font-weight-bold) 14px/24px var(--font-family);
  --text-link-small-letter: 0.0025em;
  --button-large: var(--font-weight-bold) 18px/28px var(--font-family);
  --button-large-letter: 0.08em;
  --button-medium: var(--font-weight-bold) 16px/24px var(--font-family);
  --button-medium-letter: 0.08em;
  --button-small: var(--font-weight-bold) 14px/20px var(--font-family);
  --button-small-letter: 0.08em;
  --text-caption: var(--font-weight-regular) 12px/20px var(--font-family);
  --text-caption-letter: 0.004em;
  --text-caption-focused: var(--font-weight-bold) 12px/20px var(--font-family);
  --text-caption-focused-letter: 0.0004em;
  --text-overline: var(--font-weight-regular) 11px/20px var(--font-family);
  --text-overline-letter: 0.16em;
  --text-badge: var(--font-weight-bold) 10px/16px var(--font-family);
  --text-badge-letter: 0.04em;
}

@mixin responsive-variables {
  /* Typography
  * ------------------------- */
  --title-giant: var(--font-weight-bold) 30px/40px var(--font-family);
  --title-giant-letter: 0.0025em;
  --title-display: var(--font-weight-bold) 28px/36px var(--font-family);
  --title-display-letter: 0.0025em;
  --title-headline-xxlarge: var(--font-weight-bold) 26px/36px var(--font-family);
  --title-headline-xxlarge-letter: 0.0025em;
  --title-headline-xlarge: var(--font-weight-bold) 25px/32px var(--font-family);
  --title-headline-xlarge-letter: 0.0025em;
  --title-headline-large: var(--font-weight-bold) 24px/32px var(--font-family);
  --title-headline-large-letter: 0.0025em;
  --title-headline-medium: var(--font-weight-bold) 22px/28px var(--font-family);
  --title-headline-medium-letter: 0.0015em;
  --title-headline-small: var(--font-weight-bold) 20px/28px var(--font-family);
  --title-headline-small-letter: 0.0015em;
  --title-headline-xsmall: var(--font-weight-bold) 19px/24px var(--font-family);
  --title-headline-xsmall-letter: 0.0015em;
  --text-subtitle-large: var(--font-weight-bold) 18px/24px var(--font-family);
  --text-subtitle-large-letter: 0.0015em;
  --text-subtitle-medium: var(--font-weight-bold) 16px/20px var(--font-family);
  --text-subtitle-medium-letter: 0.001em;
  --text-body-large: var(--font-weight-regular) 18px/28px var(--font-family);
  --text-body-large-letter: 0.005em;
  --text-body-medium: var(--font-weight-regular) 16px/24px var(--font-family);
  --text-body-medium-letter: 0.005em;
  --text-body-small: var(--font-weight-regular) 14px/24px var(--font-family);
  --text-body-small-letter: 0.0025em;
  --text-link-large: var(--font-weight-bold) 18px/28px var(--font-family);
  --text-link-large-letter: 0.005em;
  --text-link-medium: var(--font-weight-bold) 16px/24px var(--font-family);
  --text-link-medium-letter: 0.005em;
  --text-link-small: var(--font-weight-bold) 14px/24px var(--font-family);
  --text-link-small-letter: 0.025em;
  --button-large: var(--font-weight-bold) 18px/28px var(--font-family);
  --button-large-letter: 0.08em;
  --button-medium: var(--font-weight-bold) 16px/24px var(--font-family);
  --button-medium-letter: 0.08em;
  --text-caption: var(--font-weight-regular) 12px/20px var(--font-family);
  --text-caption-letter: 0.004em;
  --text-caption-focused: var(--font-weight-regular) 12px/20px
    var(--font-family);
  --text-caption-focused-letter: 0.004em;
  --text-overline: var(--font-weight-regular) 11px/20px var(--font-family);
  --text-overline-letter: 0.16em;
  --text-badge: var(--font-weight-bold) 10px/16px var(--font-family);
  --text-badge-letter: 0.04em;
}
