@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

.sb-docs {
  background: var(--color-neutral-white);
  font: var(--text-body-large);
}

.sb-docs h1,
.sb-docs h2,
.sb-docs h3,
.sb-docs h4,
.sb-docs h5,
.sb-docs h6 {
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 0;
}

.sb-docs h1 {
  border-bottom: 1px solid var(--color-neutral-light-4);
  color: var(--color-neutral-black);
  font: var(--title-display);
  letter-spacing: var(--title-display-letter);
  font-weight: var(--font-weight-bold);
  padding-bottom: var(--spacing-xxsmall);
  margin-bottom: var(--spacing-base);
}

.sb-docs h2 {
  border: 0;
  color: var(--color-neutral-light-1);
  font: var(--title-headline-medium);
  letter-spacing: var(--title-headline-medium-letter);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-xsmall);
  padding: 0;
}

.sb-docs h2:not(:first-child) {
  margin-top: var(--spacing-large);
}

.sb-docs h3 {
  color: var(--color-neutral-light-1);
  font: var(--title-headline-small);
  letter-spacing: var(--title-headline-small-letter);
  margin-bottom: var(--spacing-xsmall);
}

.sb-docs h3:not(:first-child) {
  margin-top: var(--spacing-large);
}

.sb-docs h4 {
  color: var(--color-neutral-light-1);
  font: var(--title-headline-xsmall);
  letter-spacing: var(--title-headline-xsmall-letter);
  margin-bottom: var(--spacing-xxsmall);
}

.sb-docs h4:not(:first-child) {
  margin-top: var(--spacing-large);
}

.sb-docs h5 {
  color: var(--color-neutral-light-1);
  font: var(--text-subtitle-medium);
  letter-spacing: var(--text-subtitle-medium-letter);
  margin-bottom: var(--spacing-xxsmall);
}

.sb-docs h5:not(:first-child) {
  margin-top: var(--spacing-base);
}

.sb-docs h6 {
  color: var(--color-neutral-light-1);
  font: var(--text-caption);
  letter-spacing: var(--text-caption-letter);
  margin-bottom: var(--spacing-xxsmall);
}

.sb-docs p.sbdocs-p,
.sb-docs li.sbdocs-li {
  font: var(--text-body-large);
  letter-spacing: var(--text-body-large-letter);
}

.sb-docs p:not(:last-child) {
  margin-bottom: var(--spacing-base);
}

.sb-docs p:not(:first-child) {
  margin-top: var(--spacing-base);
}

.sb-docs ul.sbdocs-ul {
  padding-left: var(--spacing-large);
  margin-bottom: var(--spacing-base);
}

.sb-docs li.sbdocs-li:not(:last-child) {
  margin-bottom: var(--spacing-xxsmall);
}

.sb-docs table.sbdocs-table {
  font: var(--text-body-medium);
  letter-spacing: var(--text-body-medium-letter);
}

.sb-docs .sbdocs-blockquote {
  border-left: 4px solid var(--color-neutral-light-4);
  margin-bottom: var(--spacing-base);
  padding: 0 var(--spacing-large);
}

.sb-docs .sbdocs-blockquote p {
  color: var(--color-neutral-light-1);
}

.sb-docs a {
  color: var(--color-brand-secondary-regular);
  text-decoration: none;
}

.sb-docs a:hover {
  text-decoration: underline;
}

.sb-docs code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
}

.sb-docs pre code {
  background-color: initial;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
}

.sb-docs hr {
  background-color: var(--color-neutral-light-4);
  border: 0;
  height: 0.25em;
  margin: var(--spacing-large) 0;
  padding: 0;
}

@media (max-width: 767px) {
  .sb-docs {
    padding: var(--spacing-base);
  }
}

.logo {
  margin: auto !important;
  max-width: 655px;
}

.badges {
  text-align: center;
}

.badges img {
  display: inline-block;
  margin-right: var(--spacing-xsmall) !important;
}
