.atom-datetime {
  &::part(calendar-day) {
    position: relative;

    &:hover {
      &:after {
        background-color: rgba(var(--color-neutral-black-rgb), 0.07);
        border-radius: 50%;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  &::part(calendar-day active) {
    background-color: var(--color-brand-secondary-regular);
  }
}

.atom-item {
  position: relative;
}

.atom-label {
  color: var(--color-neutral-regular);
  font: var(--text-caption);
  left: 0;
  letter-spacing: var(--text-caption-letter);
  max-width: calc(100% / 0.75);
  overflow: hidden;
  padding-left: var(--spacing-base);
  position: absolute;
  text-overflow: ellipsis;
  top: 7px;
  white-space: nowrap;
  z-index: var(--zindex-5);
}

.atom-icon {
  color: var(--color-neutral-regular);
  pointer-events: none;
  position: absolute;
  right: var(--spacing-base);
  top: 50%;
  transform: translateY(-50%);
  z-index: var(--zindex-5);
}

.atom-button {
  border-bottom: 1px solid
    var(--ion-color-step-500, var(--ion-background-color-step-500, gray));
  width: 100%;

  .atom-item:hover & {
    &::part(native) {
      background: var(
        --ion-color-step-100,
        var(--ion-background-color-step-100, #e6e6e6)
      );
    }
  }

  &::part(native) {
    align-items: end;
    background: var(
      --ion-color-step-50,
      var(--ion-background-color-step-50, #f2f2f2)
    );
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    border-start-end-radius: var(--spacing-base);
    border-start-start-radius: var(--spacing-base);
    color: var(--color-neutral-regular);
    display: flex;
    font: var(--text-body-medium);
    height: 57px;
    letter-spacing: var(--text-body-medium-letter);
    margin: 0;
    padding-bottom: 6px;
    padding-left: var(--spacing-base);
    padding-right: var(--spacing-base);
    text-align: left;
    width: 100%;
    z-index: var(--zindex-1);
  }

  &.date-active {
    border-bottom-color: var(--color-brand-secondary-regular);

    & ~ .atom-label {
      color: var(--color-brand-secondary-regular);
    }

    & ~ .atom-icon {
      color: var(--color-brand-secondary-regular);
    }
  }
}

.custom-date-target {
  overflow: hidden;
  padding-right: var(--spacing-xlarge);
  text-overflow: ellipsis;
  white-space: nowrap;
}
