@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

.sbdocs-content p,
.sbdocs-content li {
  font: var(--text-body-medium);
  letter-spacing: var(--text-body-medium-letter);
}

.sbdocs-a {
  color: var(--color-brand-secondary-regular) !important;
}
