:host {
  display: inline-block;
}

:host(.expand-block),
:host(.expand-full) {
  display: block;
}

:host(.is-disabled) {
  pointer-events: none;
}

.atom-button {
  text-transform: inherit;

  &[size='default'] {
    --button-size: var(--spacing-xxxxlarge);
    font: var(--button-medium);
    height: var(--button-size);
    letter-spacing: var(--button-medium-letter);

    &.is-circle {
      width: var(--button-size);
    }
  }

  &[size='small'] {
    --button-size: var(--spacing-xxxlarge);
    font: var(--button-small);
    height: var(--button-size);
    letter-spacing: var(--button-small-letter);

    &.is-circle {
      width: var(--button-size);
    }
  }

  &[size='large'] {
    --button-size: var(--spacing-giant);
    font: var(--button-large);
    height: var(--button-size);
    letter-spacing: var(--button-large-letter);

    &.is-circle {
      width: var(--button-size);
    }
  }

  &.is-circle {
    border-radius: 50%;

    &::part(native) {
      padding: 0;
    }
  }

  &.is-loading {
    &::part(native) {
      cursor: inherit;
    }

    .slot {
      visibility: hidden;
    }
  }
}

.loading {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
