.item-default {
  align-items: center;
  background: coral;
  display: flex;
  height: 400px;
  justify-content: center;
  width: 100% !important;
}

.item-loop {
  align-items: center;
  background: cornflowerblue;
  display: flex;
  height: 400px;
  justify-content: center;
  width: 100% !important;
}

.item-pag-type {
  align-items: center;
  background: crimson;
  display: flex;
  height: 400px;
  justify-content: center;
  width: 100% !important;
}

.item-smaller {
  align-items: center;
  background: coral;
  display: flex;
  height: 400px;
  justify-content: center;
  width: 250px;
}
