@import '~@atomium/scss-utils/index';

:host {
  display: inline-block;
}

.atom-link {
  align-items: center;
  cursor: pointer;
  display: flex;
  font: var(--text-link-medium);
  gap: var(--spacing-xxsmall);
  letter-spacing: var(--text-link-medium-letter);
  text-decoration: underline;

  &[color='primary'] {
    color: var(--color-brand-primary-regular);
  }

  &[color='secondary'] {
    color: var(--color-brand-secondary-regular)
  }

  &__button {
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
  }
}
