:host {
  --button-navigation-size: var(--spacing-xxxxlarge);
  --carousel-height: var(--spacing-xxxxlarge);
  --thumbnail-size: var(--spacing-giant);
  --thumbnail-object-fit: contain;
  display: block;
}

.atom-carousel {
  min-height: var(--carousel-height);
  position: relative;
}

.carousel-sliders {
  overflow-x: hidden;
  z-index: var(--zindex-1);
}

.carousel-wrapper {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: transform var(--transition-duration);
  will-change: transform;
}

.carousel-navigation {
  align-items: center;
  background: var(--color-brand-secondary-regular);
  border: 0;
  border-radius: var(--border-radius-full);
  box-shadow: var(--elevation-3);
  color: var(--color-neutral-white);
  cursor: pointer;
  display: flex;
  font-size: var(--spacing-large);
  height: var(--button-navigation-size);
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: var(--transition-duration);
  transition-property: background-color, opacity, visibility;
  width: var(--button-navigation-size);
  will-change: background-color, opacity, visibility;
  z-index: var(--zindex-5);

  &.navigation--prev {
    left: var(--spacing-small);
  }

  &.navigation--next {
    right: var(--spacing-small);
  }

  &:hover {
    background: var(--color-brand-secondary-light-1);
  }

  &[aria-disabled='true'] {
    opacity: 0;
    visibility: hidden;
  }
}

.carousel-pagination {
  display: flex;
  gap: var(--spacing-xsmall);
  justify-content: center;
  margin-top: var(--spacing-base);

  &__item {
    background: none;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    transition-duration: var(--transition-duration);
  }

  &--bullets {
    $pagination-size: var(--spacing-xsmall);
    background-color: var(--color-neutral-light-3);
    border-radius: var(--border-radius-full);
    display: inline-block;
    height: $pagination-size;
    text-indent: -9999px;
    transition-property: background-color;
    width: $pagination-size;
    will-change: background-color;

    &.active {
      background-color: var(--color-brand-secondary-regular);
    }
  }

  &--thumbnails {
    align-items: center;
    border: 1px solid var(--color-neutral-light-4);
    display: flex;
    height: var(--thumbnail-size);
    justify-content: center;
    transition-property: border-color;
    width: var(--thumbnail-size);
    will-change: border-color;

    &.active {
      border-color: var(--color-brand-secondary-regular);
    }

    .thumbnail {
      display: block;
      object-fit: var(--thumbnail-object-fit);
      width: 100%;
    }
  }
}
