@import '~swiper/swiper-bundle.css';
@import '~swiper/swiper.css';

::part(button-prev),
::part(button-next) {
  background: var(--color-neutral-white);
  border: 1px solid transparent;
  border-radius: var(--border-radius-full);
  box-shadow: var(--elevation-3);
  color: var(--color-brand-secondary-dark-1);
  height: var(--spacing-medium);
  padding: var(--spacing-small);
  transition:
    border var(--transition-duration),
    box-shadow var(--transition-duration);
  width: var(--spacing-medium);
  will-change: border, box-shadow;

  :not([aria-disabled='true']) {
    pointer-events: all;
  }

  &:hover {
    border-color: var(--color-brand-secondary-dark-1);
  }
}
